<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sentence Manipulator</title>
  </head>

  <body>
       <h1>Insert a Sentence and I Will Tell You Everything You Need To Know</h1>
      <form action="/new-sentence" method="post">

      <label for="sentence">sentence</label>
      <input type="text" id="sentence" name="sentence" />

      <input type="submit" />
    </form>
    <a href = "http://localhost:9393">See submissions</a>


  </body>
</html>
